.header h1{
  font-size: 100px;
}

.main-page{
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.card {
  background-color: rgba(240, 237, 237, 0.936);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  font-family: serif;
  border: 1px solid #ccc;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
}

.card-name{
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}

.card-image{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.bio{
  line-height: 1.5rem;
}