@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body{
  font-family: var(--font-raleway);
  font-size: 1rem;
  line-height: 1.5;
  background-color: #212426;
  /* color: #212426; */
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  /* margin: 50px 20px; */
  width: 100%;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 1rem 0;
  color: #fff;
}

.search__box{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 71%;
  margin: 4rem 0 2rem;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search__box input{
  flex: 1;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  color: #a1a1a1;
  background-color: #1f2123;
}

.search__img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search__box {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search__box input {
    font-size: 1rem;
  }

  .search__img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}

.card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(240, 237, 237, 0.936);
  padding: 1.2rem;
  border-radius: 1rem;
  font-family: serif;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.card-name{
  font-size: 20px;
  font-weight: bold;
  margin: 0.5rem 0;
}

.card-image{
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: 100%;
}

.bio{
  line-height: 1.2rem;
}



button{
  background-color: rgb(217, 209, 209);
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 200px;
  color: black;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 20px 10px;
  cursor: pointer;
}

button:hover{
  background-color: black;
  color: white;
}

